# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env/

# Cartelle erroneamente pushate
lib/
bin/

# Editor and IDEs
.idea/
.vscode/

# Files environment
*.env

# Logs and temporary files
*.log
*.swp
*.bak
.DS_Store
Thumbs.db